<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Instagram Carousel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./styles/style.css" />

    <link rel="stylesheet" href="./partials/Auchynnikava/style.css" />

    <link rel="stylesheet" href="./partials/Grasevich/style.css" />

    <link rel="stylesheet" href="./partials/Iuzhychenka/style.css" />

    <link rel="stylesheet" href="./partials/Kalashnikov/style.css" />

    <link rel="stylesheet" href="./partials/Kazak/style.css" />

    <link rel="stylesheet" href="./partials/Khmialnitski/style.css" />

    <link rel="stylesheet" href="./partials/Korsak/style.css" />

    <link rel="stylesheet" href="./partials/Kurouski/style.css" />

    <link rel="stylesheet" href="./partials/Lukyanau/style.css" />

    <link rel="stylesheet" href="./partials/Mialeshka/style.css" />

    <link rel="stylesheet" href="./partials/Nadtacheyeva/style.css" />

    <link rel="stylesheet" href="./partials/Novgorodov/style.css" />

    <link rel="stylesheet" href="./partials/Palazkou/style.css" />

    <link rel="stylesheet" href="./partials/Ramanenka/style.css" />

    <link rel="stylesheet" href="./partials/Romanova/style.css" />

    <link rel="stylesheet" href="./partials/Shamraeva/style.css" />

    <link rel="stylesheet" href="./partials/Shamsiev/style.css" />

    <link rel="stylesheet" href="./partials/Shkred/style.css" />

    <link rel="stylesheet" href="./partials/Tsikhamirau/style.css" />

    <link rel="stylesheet" href="./partials/Tverdokhlib/style.css" />

    <link rel="stylesheet" href="./partials/Yafremava/style.css" />

    <link rel="stylesheet" href="./partials/Zatsepina/style.css" />

    <link rel="stylesheet" href="./partials/Zimahorava/style.css" />
  </head>

  <body>
    <header class="header" id="header">
      <h1>Instagram Carousel</h1>

      <nav>
        <ul>
          <li><a href="#Auchynnikava">Auchynnikava</a></li>
          <li><a href="#Grasevich">Grasevich</a></li>
          <li><a href="#Iuzhychenka">Iuzhychenka</a></li>
          <li><a href="#Kalashnikov">Kalashnikov</a></li>
          <li><a href="#Kazak">Kazak</a></li>
          <li><a href="#Khmialnitski">Khmialnitski</a></li>
          <li><a href="#Korsak">Korsak</a></li>
          <li><a href="#Kurouski">Kurouski</a></li>
          <li><a href="#Lukyanau">Lukyanau</a></li>
          <li><a href="#Mialeshka">Mialeshka</a></li>
          <li><a href="#Nadtacheyeva">Nadtacheyeva</a></li>
          <li><a href="#Novgorodov">Novgorodov</a></li>
          <li><a href="#Palazkou">Palazkou</a></li>
          <li><a href="#Ramanenka">Ramanenka</a></li>
          <li><a href="#Romanova">Romanova</a></li>
          <li><a href="#Shamraeva">Shamraeva</a></li>
          <li><a href="#Shamsiev">Shamsiev</a></li>
          <li><a href="#Shkred">Shkred</a></li>
          <li><a href="#Tsikhamirau">Tsikhamirau</a></li>
          <li><a href="#Tverdokhlib">Tverdokhlib</a></li>
          <li><a href="#Yafremava">Yafremava</a></li>
          <li><a href="#Zatsepina">Zatsepina</a></li>
          <li><a href="#Zimahorava">Zimahorava</a></li>
        </ul>
      </nav>
    </header>

    <section id="Auchynnikava" class="container">
      {{> Auchynnikava/index }}
    </section>

    <section id="Grasevich" class="container">{{> Grasevich/index }}</section>

    <section id="Iuzhychenka" class="container">
      {{> Iuzhychenka/index }}
    </section>

    <section id="Kalashnikov" class="container">
      {{> Kalashnikov/index }}
    </section>

    <section id="Kazak" class="container">{{> Kazak/index }}</section>

    <section id="Khmialnitski" class="container">
      {{> Khmialnitski/index }}
    </section>

    <section id="Korsak" class="container">{{> Korsak/index }}</section>

    <section id="Kurouski" class="container">{{> Kurouski/index }}</section>

    <section id="Lukyanau" class="container">{{> Lukyanau/index }}</section>

    <section id="Mialeshka" class="container">{{> Mialeshka/index }}</section>

    <section id="Nadtacheyeva" class="container">
      {{> Nadtacheyeva/index }}
    </section>

    <section id="Novgorodov" class="container">{{> Novgorodov/index }}</section>

    <section id="Palazkou" class="container">{{> Palazkou/index }}</section>

    <section id="Ramanenka" class="container">{{> Ramanenka/index }}</section>

    <section id="Romanova" class="container">{{> Romanova/index }}</section>

    <section id="Shamraeva" class="container">{{> Shamraeva/index }}</section>

    <section id="Shamsiev" class="container">{{> Shamsiev/index }}</section>

    <section id="Shkred" class="container">{{> Shkred/index }}</section>

    <section id="Tsikhamirau" class="container">
      {{> Tsikhamirau/index }}
    </section>

    <section id="Tverdokhlib" class="container">
      {{> Tverdokhlib/index }}
    </section>

    <section id="Yafremava" class="container">{{> Yafremava/index }}</section>

    <section id="Zatsepina" class="container">{{> Zatsepina/index }}</section>

    <section id="Zimahorava" class="container">{{> Zimahorava/index }}</section>

    <script>
      let nav = document.querySelectorAll("nav");

      if (nav) {
        let navLinks = document.querySelectorAll("nav a");
        let activeLink = document.querySelector(".active");
        activeLink.scrollIntoView({ behavior: "smooth", inline: "center" });

        navLinks.forEach(function (link) {
          link.addEventListener("click", (event) => {
            navLinks.forEach(function (link) {
              link.classList.remove("active");
            });
            link.classList.add("active");
            link.scrollIntoView({ behavior: "smooth", inline: "center" });
          });
        });
      }
    </script>
  </body>
</html>
