#header {
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
}

#header h1 {
  margin: 0;
}

#header nav {
  position: relative;
  z-index: 2;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#header ul {
  display: flex;
  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

#header nav ul li a {
  display: block;
  color: var(--color-orange);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}
